body{
    background-color: pink;
    font-family: 'Irish Grover', cursive;
}

nav{
  font-family: 'Mochiy Pop One', sans-serif; 
  /* width: 100%; */
}

#current{
  content: " ✩";
  /* color:aqua; */
}



 h1{
    font: 30px bold hotpink;
}


  .skip a{
    background: #f1f1f1;
    left: 0;
    z-index: 1;
    position: absolute;
    top: -40px;
    transition: top 1s ease-out;
    -webkit-transition: top 1s ease-out;
    padding: 6px;
}

.skip a:focus{
    position: absolute;
    top: 20px;
}


nav a.current::after {
  /* text-decoration: underline; */
  content: " ✩";
}

/* a:active {
  color: blue;
  font-family: 'Luckiest Guy', cursive;
} */

header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

nav{
  display: flex;
  flex-wrap: nowrap;
  color:wheat;
  background-color: yellowgreen;
  padding: 5px;    
  text-align: right;   
  width: 100%;
  border-radius: 7px;;
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
    /* align-items: baseline; */
  align-content: flex-end;
  margin-bottom: 10px;

  }

  /* nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px; 

    
  } */


  #logo_underline{
    display: none;
  }

  nav li{
    display: flex;
    flex-wrap: nowrap;
    font-size: 25px;
    display: inline;
    padding-right: 100px;

  }
  


#sweater{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
#sunnies{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#crop{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}


.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    flex-basis: 110px;
    width: 75%;
    justify-content: space-between;
    /* align-items: flex-end; */
    background: greenyellow;
    border: solid 2px  magenta;
    padding-top: 3px;
    /* padding-bottom: 10px; */
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
}

.blue{
  background: aliceblue;
  text-align: center;
  color: purple;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}

.yellow{
  background: lightcyan;
  text-align: center;
  font-weight: bold;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.pink{
  background: paleturquoise;
  text-align: center;
  font-weight: bold;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}


.gallery{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.gallery img{
    border: 10px  magenta solid;
    margin: 10px;
    width: 300px;
}

#britneylove{
  text-align: center;
}

.britney_inspo{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    justify-content: space-between;
    background: greenyellow;
    border: solid 2px  magenta;
    padding-top: 10px;
    padding-bottom: 10px;
  border-radius: 7px;  
}


  .grid {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px  magenta;
    height: 500px;
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
  }
  
  .grid2 {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px  magenta;
    height: 300px;
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
  }
  

  .one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow: hidden;
    /* overflow: scroll; */
    border: solid 4px  magenta;
  }


  .two{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
    border: solid 4px  magenta;


  }

  .three{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 2;
    background-color: aliceblue;
    text-align: center;
    color: navy;
    overflow: scroll;
    border-radius: 3%;
    border: solid 4px  magenta;

  }

  footer{
    background-color: magenta;
    display: flex;
    /* align-content: center; */
    /* align-items: center; */
    width: 100%;
  }


  #logo{
    /* display: flex;
    align-items: flex-start; */
    /* /* margin-left: auto; */
    margin-right: auto;

  }
  #logo2{
    margin-left: auto;
    margin-right: auto;
  }


  .britney_links{
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    /* margin-left: auto;
    margin-right: auto; */
  }


  .sotw {
    display: flex;
    padding-bottom: 20px;
  }
  
  /* .column {
    flex: 50%;
  } */

  .top_track{
    text-align: center;
  }

  .on_top{
    padding-top: 40px;
  }

  .top_track h1{
    font-family: 'Gloria Hallelujah', cursive;

  }

  .playlist {
    display: flex;
    padding-bottom: 20px;
  }
  
  /* .column2 {
    flex: 50%;
  } */

  .text{
    border:skyblue 5px solid;
    background: violet;
    border-radius: 5px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 20px;
    color:black;
    font-family: 'Dongle', sans-serif;
  }


  .playlist2 {
    display: flex;
    padding-bottom: 20px;
  }
  
  .column3 {
    flex: 50%;
  }

  .playlist4{
    display: flex;
    padding-bottom: 20px;
  }
  
  .column4 {
    flex: 50%;
  }

  @media screen and (min-width: 550px){
#logo_underline{
      display:flex;
    }

#logo{
      display: flex;
      /* flex-direction: row; */
      /* /* margin-left: auto; */
      margin-right: auto; 
      padding-left: 40px;
  
    }
    #logo2{
      margin-left: auto;
      margin-right: auto;
    }

header {
      display: flex;
      flex-wrap: nowrap;
      align-items: none;
      flex-direction: none;
      justify-content: none;
}

.britney_inspo{ 
  text-align: none;
  display: flex;
  flex-direction: none;
  flex-basis: none;
  justify-content: none;
  background: greenyellow;
  border: solid 2px  magenta;
  padding-top: 15px;
  padding-bottom:15px;
  border-radius: 7px;  
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* nav {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    padding: 0px;
    text-align: right;
    width: 100%;
    align-content: flex-end;
    margin-bottom: 10px;
    padding-right: 15px;
} */

ul {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
}


.grid {
      border: 2px  magenta;
      height: 500px;
      width: 700px;
      display: grid;
      grid-template-columns: 25% 10% 2fr 1fr 2fr;
      grid-template-rows: 25% 10% 2fr 1fr 2fr;
      grid-row-gap: 10px;
      grid-column-gap: 15px;
      margin-left: auto;
      margin-right: auto;
    }

.grid2 {
      margin-top: 15px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      border: 2px  magenta;
      height: 500px;
      width: 65%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 75% 25%;
      grid-row-gap: 10px;
      grid-column-gap: 15px;
    }
  
.one{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end:  3;
}

.four{
  padding-top: 30px;
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end:  3; */
}

.six{
  padding-top: none;
}

.five{
  /* padding-top: 40px; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end:  5; 
  max-height: 300px;
  /* overflow: hidden; */
}

.small_picture{
  border: 3px magenta solid;
}
.image_gallery{
  border: 3px magenta solid;
}

.three {
      grid-column-start: 3;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 3;
    }

.two{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4;
      border: none;
      padding-top: 30px;
    }

.three{
      background-color: whitesmoke;
      grid-row-start: 1;
      grid-row-end: 6;
    }

.three h1{
  padding-top: 15px;
  padding-bottom: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#read_more{
  padding-top: 50px;
  padding-left: 35px;
  /* margin-right: auto; */
  /* margin-left: auto; */
}


.nav_links .current{
  font-family: fantasy;
}

/* nav{
      flex-wrap: nowrap;
      background-color: transparent;
      padding: 0px;    
      text-align: right;   
      width: 45%;
      align-content: flex-end;
      margin-bottom: 10px;
      } */


    /* .nav li{
      display: inline-flex;
      font-size: 15px;
      padding-right: 0px;
    } */

/* 
    .nav_item{
      text-decoration: none;
      /* display: inline-flex;
      font-size: 15px;
      margin-right: auto; } */

    nav {
      display: flex;
      /* justify-content: flex-end; */
      color: #eefbfb;
      background: transparent;
      margin: 10px; 
      text-decoration: none;
     }

    .column {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
        }

    .column2 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      flex: none;
      overflow: scroll;
      }

    .text{
    border:magenta 5px solid; 
    background: yellow;
    border-radius: 5px;
    text-align: center;
    color:teal;
    font-weight: bolder;
    font-family: 'Play', sans-serif;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 350px;
    /* height: 160px; */
    /* padding-top: 20%;
    padding-bottom: 20%; */
    /* font-size: large; */
  }


  .spotify_playlist{
    /* height: 350; */
    border: magenta 5px solid;
  }


.sometimes{
  height: 50%;
}

.some_art{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: auto;
  margin-left: auto;
}

/* .card {
    margin-left: auto;
    margin-right: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: none;
    flex-basis: none;
    width: 60%;
    justify-content: none;
    align-items: none;
    background: none;
    border: solid 2px magenta;
    padding-top: 3px;
    padding-bottom: none;
} */



/* #sweater{
  display: none;
} */
#spacers{
  margin-right: auto;
  margin-left: auto;
  height:50%;
}

  }